@mixin -debug-image($width: 950px, $height: 1000px, $url: null) {
  // デバッグ用にカンプをオーバーレイする
  #debug {
    background: $url no-repeat center top;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 0;
    width: $width;
    height: $height;
    margin-left: round($width / -2);
    z-index: 99998;
    opacity: 0.1;
    &.show {
      opacity: 0.8;
    }
  }
  #debug-button {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
  }
}

@mixin -debug-frame {
  // デバッグ用に要素に赤枠をつける
  box-shadow: inset 0 0 4px red;
  &:hover {
    box-shadow: 0 0 4px red;
  }
}
