// テキスト置換

// ---- どれかを選ぶ
//$-designed-method: 'text-indent';
$-designed-method: 'padding-top';
//$-designed-method: 'padding-bottom';
// ----

// テキスト置換の基本クラスなどを生成
@mixin -designed-setup($selector) {
  #{$selector} {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    @if $-designed-method == 'text-indent' {
      text-indent: 100%;
    }
    @if $-designed-method == 'padding-top' or $-designed-method == 'padding-bottom' {
      height: 0;
    }
  }
  a, span, strong {
    &#{$selector} {
      display: inline-block;
    }
  }
}

// テキスト置換
@mixin -designed($width, $height, $url) {
  background-image: $url;
  width: $width;
  @if $-designed-method == 'text-indent' {
    height: $height;
  }
  @if $-designed-method == 'padding-top' {
    padding-top: $height;
  }
  @if $-designed-method == 'padding-bottom' {
    padding-bottom: $height;
  }
}

// ピクセル密度2倍用のテキスト置換
@mixin -designed-2x($width, $height, $url, $bg_width:$width, $bg_height:$height, $ratio:2) {
  background-image: $url;
  background-size: ($bg_width / $ratio) ($bg_height / $ratio);
  width: $width / $ratio;
  @if $-designed-method == 'text-indent' {
    height: $height / $ratio;
  }
  @if $-designed-method == 'padding-top' {
    padding-top: $height / $ratio;
  }
  @if $-designed-method == 'padding-bottom' {
    padding-bottom: $height / $ratio;
  }
}
