@mixin -reset {
  // 基本的な余白リセット
  h1, h2, h3, h4, h5, h6,
  div, span, p,
  ol, ul, li,
  dl, dt, dd,
  table, caption, thead, tfoot, tbody, tr, th, td,
  header, footer, nav,
  main, aside,
  section, article,
  figure, figcaption,
  button {
    margin: 0;
    padding: 0;
  }

  // 見出しのフォントサイズリセット
  h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
  }

  // リストスタイルリセット
  ol, ul {
    list-style: none;
  }

  // 画像の配置リセット（下に空白がでにくく）
  img {
    vertical-align: top;
  }

  // ボタン
  button {
    border: 0;
    background: transparent;
  }
}
